backend/node_modules/
backend/ServerBackend/ServerBackend/__pychache__
**node_modules
frontend/node_modules/
backend/venv/
backend/ServerBackend/ServerBackend/migrations/
backend/ServerBackend/ServerBackend/__pycache__/
backend/ServerBackend/ServerBackend/.DS_store
backend/ServerBackend/.DS_store
frontend/src/.DS_Store
backend/ServerBackend/db.sqlite3
backend/ServerBackend/ServerBackend/migrations
backend/ServerBackend/ServerBackend/migrations/*
backend/ServerBackend/ServerBackend/migrations/__pycache__
backend/ServerBackend/ServerBackend/management/__pycache__
backend/ServerBackend/ServerBackend/management/commands/__pycache__
**.DS_Store
.vscode
