# Recursive ignores
.vscode
**.pyc
**.DS_Store
**node_modules
**__pycache__
**.coverage
**.log
**htmlcov

# frontend ignores
frontend/src/.DS_Store
frontend/node_modules/

# backend ignores
backend/venv/
backend/node_modules/
backend/ServerBackend/htmlcov
backend/ServerBackend/db.sqlite3
backend/ServerBackend/django_debug.log
backend/ServerBackend/.coverage
backend/ServerBackend/dump.rdb
