/* GameLobby.css */



.lobby-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.participant {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 200px;
  text-align: center;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.popup h2 {
  margin-top: 0;
}

.popup p {
  margin-bottom: 20px;
}

.popup button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup button+button {
  margin-left: 10px;
}

.popup button:hover {
  background-color: #0056b3;
}

/* Update your GameLobby.css file */

.question-container {
  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.question-container h2 {
  margin-top: 0;
}

.question-container p {
  margin-bottom: 10px;
}

.question-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.question-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.question-container button:hover {
  background-color: #0056b3;
}

.game-lobby {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questions-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: absolute;
  /* Adjust the gap between questions */
  top: 25%;
  margin-top: 0%;
  /* Add margin to move the containers down */
}

.individual-question,
.group-question {
  width: 50vw;
  /* Adjust the width of each question container */
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.866);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.704);
  color: rgb(0, 217, 217);
  /* Set color to black */
  font-weight: bold;
  /* Make text bold */
}

/* Media query for viewport width less than 1050px */
@media screen and (max-width: 1050px) {

  .individual-question,
  .group-question {
    width: 60vw;
    /* Adjusted width for smaller screens */
  }
}

.individual-question h2,
.group-question h2 {
  margin-top: 0;
}


.game-lobby {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.leaderboard-container{
  position: absolute;
  top: 15%;
  left: 2%;
  /* right: 35%; */
  
  width: 20vw;
}

@media (max-width: 1000px) {
  .leaderboard-container {
    width: 20vw;
  }
}


.leaderboard {
  display: flex;
  align-items:flex-start;
  background-color: #ffffff;
  /* A cleaner background color */
  padding: 10px;
  border-radius: .25rem;
  /* Bootstrap style border-radius */
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
  /* Bootstrap style shadow */
  /* Adjust the left position */
  top: 10%;
  /* Align it vertically in the middle */
  z-index: 10;
  /* Ensure it's above other elements */
  border: 1px solid #dee2e6;
  /* Bootstrap style border */
  font-size: 2.5vw;
  /* Slightly larger font size for all text inside the leaderboard */
}
/* Media query for screens less than 1000px */
@media (max-width: 1000px) {
  .leaderboard {
    /* Your styles for screens less than 1000px here */
    font-size: 2.8vw;
  }
}
.showhide-button{
  position: relative;
  left: 8vw;
  z-index: 9999;
  width: 5vw;
  height: 40px;
  border-radius: 1.25rem;
  color: #ffffff;
  background: linear-gradient(rgba(240, 240, 240, 0), rgba(255, 255, 255, 0)) ;
  border: none;
  font-size: 8vw;
  font-family: 'Bracelet';
  cursor: pointer;
}

.leaderboard-item {
  font-size: medium;  
}
@media (max-width: 1000px) {
  .leaderboard-item {
    /* Your styles for screens less than 1000px here */
    font-size: smaller;
  }
}



/* Assuming you're using a h2 tag for the leaderboard title */
.leaderboard h2 {
  color: #3c123b;
  /* Bootstrap's secondary text color for a professional look */
  font-size: 2.6vw;
  font-weight: 500;
  /* Bootstrap heading font-weight */
  margin-bottom: .75rem;
  /* Bootstrap margin-bottom for headings */
  border-bottom: 2px solid #dee2e6;
  /* A line to separate title */
  padding-bottom: .5rem;
  /* Space above the line */
  text-align: center;
  font-family: 'Hansen';
  text-shadow: 0px 5px 4px rgba(30, 4, 30, 0.365); /* Horizontal offset, Vertical offset, Blur radius, Color */

  /* Center the title text */
}

/* Style for individual players */
.player {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: .375rem .75rem;
  /* Bootstrap style padding */
  margin-bottom: .375rem;
  /* Bootstrap style margin-bottom */
  background-color: #e9ecef;
  /* Bootstrap light background for list items */
  border-radius: .25rem;
  /* Consistent with Bootstrap border-radius */
  color: #495057;
  /* Bootstrap's default text color */
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.075);
  /* Subtle shadow for depth */
}

/* Place the "Give Points" button on the right within the .player container */
.givePoint-button {
  margin-left: auto;
  /* Push the button to the far right */
}

/* Style for the player's score or points */
.score {
  font-weight: bold;
  color: #343a40;
  /* Bootstrap's dark text for contrast */
  margin-right: .75rem;
}

/* Optional: Add a hover effect for each player */
.player:hover {
  background-color: #f8f9fa;
  /* A lighter shade for hover effect */
  cursor: pointer;
  /* Change cursor to indicate interactiveness */
}

.fetchTask-button {
  position: absolute;
  top: 25%;
  background: linear-gradient(rgba(246, 178, 255, 0.764), rgb(76, 29, 76));
  /* Light Sea Green for a refreshing look */
  color: #1e071e;
  /* White text for contrast */
  border: none;
  /* No border for a clean button */
  border-radius: 8px;
  /* Slightly rounded edges on buttons */
  padding: 0.2em .6em;
  /* Generous padding for a tactile feel */
  cursor: pointer;
  /* Cursor pointer to indicate button */
  font-size: clamp(2.5vw, 3.5vh, 4vw);
  
  /* Standard readable size */
  text-shadow: 
  10px -10px 0 #f7e1ff36,  
   -10px 10px 0 #ffffff2a,
   -1px 0px 0 #ffffff;

  /* Semi-bold weight for emphasis */
  text-transform: uppercase;

  font-family: 'Boogalo';
  /* Uppercase for a consistent and clean look */
  letter-spacing: 0.05em;
  /* Spacing out letters for better legibility */
  transition: background-color 0.2s ease-in-out, transform 0.2s ease;
  /* Smooth background and press effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  /* Subtle shadow for depth */
}

.endGame-button {
  position: absolute;
  bottom: 10px;
  right: 4px;
  background-color: #b22020;
  background: radial-gradient(rgb(187, 41, 15), rgba(145, 80, 145, 0.523));
  /* Light Sea Green for a refreshing look */
  color: #FFF;
  /* White text for contrast */
  border: none;
  /* No border for a clean button */
  border-radius: 8px;
  /* Slightly rounded edges on buttons */
  padding: 0.8em 1.6em;
  /* Generous padding for a tactile feel */
  cursor: pointer;
  /* Cursor pointer to indicate button */
  font-size: 1rem;
  /* Standard readable size */
  font-weight: 600;
  /* Semi-bold weight for emphasis */
  text-transform: uppercase;
  /* Uppercase for a consistent and clean look */
  letter-spacing: 0.05em;
  /* Spacing out letters for better legibility */
  transition: background-color 0.2s ease-in-out, transform 0.2s ease;
  /* Smooth background and press effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  /* Subtle shadow for depth */
  z-index: 9999;
}


.GameID {
  position: relative;
bottom: 5%;  /* transform: translateX(-50%); */
  font-size: 40px;
  text-align: center;
  color: #ffffff;
  /* Change the color to your preference */
  font-family: 'Boogalo';
  /* Change the font family if needed */
  /* Add any other styles to make it look stylish */
}

/* FIX THIS PLEASE! */
.Username {
  position: fixed;
  top: 50px;
  left: 80%;
  transform: translateX(-50%);
  font-size: large;
  text-align: center;
  color: #ffffff;
  /* Change the color to your preference */
  font-family: Arial, sans-serif;
  /* Change the font family if needed */
  /* Add any other styles to make it look stylish */
}

.group-question .yes-button {
  background-color: green; /* Set the background color to green */
}

.group-question .no-button {
  background-color: red; /* Set the background color to red */
}

/* .questions-container {
  display: flex;
  justify-content: center;
  gap: 20px; 
  margin-top: 30vh; 
} */

.group-question {
  position: relative;
  width: 50vw; /* Adjust the width of each question container */
  height: 60%;
  padding: 20px;
  border: 1px solid #000000;
  top: 110%;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.866);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.704);
  color: rgb(0, 217, 217);
  font-weight: bold;
}

.group-question button {
  margin-right: 26px; /* Add spacing between the buttons */
}

.group-question button {
  width: 100px; /* Set a fixed width for each button */
  margin-right: 10px; /* Add spacing between the buttons */
  flex-grow: 1; /* Allow buttons to grow and fill available space */
  margin: 0 5px; /* Add margin between buttons */
}

.yes-button {
  background-color: green; /* Set background color to green */
  color: white; /* Set text color to white */
  width: 100px; /* Set a fixed width for each button */
  order: 1; /* Move the Yes button to the left */
}

.no-button {
  background-color: red; /* Set background color to red */
  color: white; /* Set text color to white */
  width: 100px; /* Set a fixed width for each button */
  order: 2; /* Move the Yes button to the left */
}

.undecided-button {
  background-color: yellow; /* Set background color to yellow */
  color: rgb(255, 255, 255) !important; /* Set text color to black */
  width: 100px; /* Set a fixed width for each button */
  order: 3; /* Move the Yes button to the left */
}

/* Style for the vote count */
.vote-count {
  position: relative;
  top: 20px;

  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #f0f0f0;

  
  margin-left: 0px; /* Adjust margin as needed */
}

.tVotes{
  position: absolute;
  transform: translate(-50%, -50%);
  width: 40vw;
  font-family: 'Patrick';
}

.single-vote{
  position: relative;
  top: 20px;
}