.leaderboard-container{
    position: absolute;
    top: 15%;
    left: 2%;
    /* right: 35%; */
    border-radius: .25rem;
    /* background-color: #ffffff; */

    
    width: 20vw;
    z-index: 9999;
  }
.leaderboard-container-end{
    top: 15%;
    left: 2%;
    /* right: 35%; */
    background-color: #ffffffd1;
    border-radius: .25rem;

    align-items: center;
    width: 50vw;
    z-index: 9999;
    color: black;
  }
  
  @media (max-width: 1000px) {
    .leaderboard-container {
      width: 20vw;
    }
  }
  
  
  .leaderboard {
    display: flex;
    align-items:flex-start;
    /* A cleaner background color */
    padding: 10px;
    border-radius: .25rem;
    /* Bootstrap style border-radius */
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
    /* Bootstrap style shadow */
    /* Adjust the left position */
    background-color: #ffffff;

    top: 10%;
    /* Align it vertically in the middle */
    z-index: 10;
    /* Ensure it's above other elements */
    border: 1px solid #dee2e6;
    /* Bootstrap style border */
    font-size: 2.5vw;
    /* Slightly larger font size for all text inside the leaderboard */
  }
  /* Media query for screens less than 1000px */
  @media (max-width: 1000px) {
    .leaderboard {
      /* Your styles for screens less than 1000px here */
      font-size: 2.8vw;
    }
  }
  .showhide-button{
    position: relative;
    left: 8vw;
    z-index: 9999;
    width: 5vw;
    height: 40px;
    border-radius: 1.25rem;
    color: #ffffff;
    background: linear-gradient(rgba(240, 240, 240, 0), rgba(255, 255, 255, 0)) ;
    border: none;
    font-size: 8vw;
    font-family: 'Bracelet';
    cursor: pointer;
  }

  .leaderboard-body{
    width: 100%;
  }
  
  .leaderboard-item {
    font-size: medium;
    display: flex;
  }
  @media (max-width: 1000px) {
    .leaderboard-item {
      /* Your styles for screens less than 1000px here */
      font-size: smaller;
    }
  }
  
  
  
  /* Assuming you're using a h2 tag for the leaderboard title */
  .leaderboard h2 {
    color: #3c123b;
    /* Bootstrap's secondary text color for a professional look */
    font-size: 2.6vw;
    font-weight: 500;
    /* Bootstrap heading font-weight */
    margin-bottom: .75rem;
    /* Bootstrap margin-bottom for headings */
    border-bottom: 2px solid #dee2e6;
    /* A line to separate title */
    padding-bottom: .5rem;
    /* Space above the line */
    text-align: center;
    font-family: 'Hansen';
    text-shadow: 0px 5px 4px rgba(30, 4, 30, 0.365); /* Horizontal offset, Vertical offset, Blur radius, Color */
  
    /* Center the title text */
  }


  .score{
    width: 100%;
    text-align: right;
  }