@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* height: 100vh;
  background: linear-gradient(to right, #800080, #4B0082); */
  color: #ffffff;
}

.login-form-container {
  max-width: 320px;
  width: 100%;
  /* Ensure it is responsive */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center align the content for better aesthetics */
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  /* More pronounced shadow */
  margin: 10px;
  margin-top: 8vw;
  /* Add spacing around the form */
}

.login-form-container h2 {
  font-size: 32px; /* Adjust the size as necessary */
  font-family: 'Poppins', sans-serif; /* Using Poppins for a modern look */
  color: #4A00E0; /* Adjust color to match your design theme */
  background: -webkit-linear-gradient(45deg, #6a11cb, #2575fc); /* Gradient effect */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  transition: text-shadow 0.3s ease-in-out;
}

.login-form-container h2:hover {
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}


.input-group input {
  width: calc(100% - 20px);
  /* Subtract padding from the width */
  padding: 12px;
  /* More padding for larger touch targets */
  font-size: 16px;
  border: 1px solid #ccc;
  /* Thicker border for better visibility */
  border-radius: 5px;
  margin-top: 8px;
  transition: border-color 0.3s;
  /* Smooth transition for the border color */
}

.input-group input:focus {
  border-color: #7209b7;
  /* Highlight input on focus */
  outline: none;
  /* Remove default focus outline */
  box-shadow: 0 0 8px rgba(114, 9, 183, 0.8);
}


.login-button {
  width: 100%;
  padding: 15px;
  /* Larger padding for a bigger button */
  margin-top: 15px;
  font-size: 18px;
  border-radius: 5px;
  background-color: #4A00E0;
  color: #ffffff;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s, transform 0.3s;
  /* Add transform to transitions */
}

.login-button:hover {
  background-color: #003d82;
  transform: translateY(-2px);
  /* Slight lift when hovered */
}

.signup-redirect {
  text-align: center;
  margin-top: 15px;
}

.signup-redirect a {
  font-size: 16px;
  /* Consistent font size for all links */
  color: #5a67d8;
  font-weight: bold;
  text-decoration: underline;
  z-index: 9999;
}

.signup-redirect a:hover,
.signup-redirect a:focus {
  /* Add hover and focus states */
  color: #2b2d42;
  text-decoration: none;
}