

@font-face {
  font-family: 'Boogalo2';
  src: url('./../assets/Fonts/Boogaloo.ttf') format('truetype');
}
@font-face {
  font-family: 'Patrick';
  src: url('./../assets/Fonts/PatrickHand.ttf') format('truetype');
}

.navbar {
    position: absolute;
    top: 0%;
    width: 100%;
    background-color: #e2c3dd4f; /* Background color of the navbar */
    background: linear-gradient(#694873, #210f41aa);
    color: #fff; /* Text color */
    padding: 10px 20px; /* Padding around the navbar */
    display: flex; /* Use flexbox layout */
    justify-content: space-between; /* Align items with space between them */
    align-items: center; /* Vertically center items */
    /* font-weight: 600; */

  }
  
  .navbar-brand {
    font-size: 1.5rem; /* Adjust font size as needed */
    text-decoration: none; /* Remove underline */
    color: #fff; /* Text color */
  }
  
  .navbar-links {
    list-style: none; /* Remove bullet points from list */
    margin: 0; /* Remove default margin */
    padding: 10; /* Remove default padding */
    font-size: large;
    font-family: 'Patrick';
  }
  
  .navbar-links li {
    display: inline; /* Display list items horizontally */
    margin-right: 20px; /* Add spacing between items */
  }
  
  .navbar-links li a {
    text-decoration: none; /* Remove underline from links */
    color: #fff; /* Text color */
    font-family: 'Boogalo2';

  }
  
  .navbar-links li a:hover {
    color: rgb(161, 152, 247); /* Change text color on hover */
  }

  /* Right aligned class */
  .right-aligned {
    font-weight: bolder; /* Make text bold */
    font-family: "Patrick";
    font-size: larger;

    text-decoration: double;
    position: absolute;
    right: 1%;
    }
  