


/* App.css */
.home-container {
  background-image: url("assets/Background_party.png");
  /* Additional styles for background */
  /* background-color: red; */
  background-size: cover; /* This will cover the entire container */
  background-position: center; /* This will center the background image */

  width: 100vw; /* Set the height to fill the viewport height */
  height: 100vh; /* Set the height to fill the viewport height */

  
  /* Add any other styles as needed */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
